%h2 Your Applications
.row
  .col-md-12
    %h4 Action Required
    .card.bg-light
      - if @action.any?
        - @action.each do |application|
          = render application
      - else
        .card-body
          %p.card-text No applications.
    %hr
    %h4 Waiting
    .card.bg-light
      - if @waiting.any?
        - @waiting.each do |application|
          = render application
      - else
        .card-body
          %p.card-text No applications.
    %hr
    %h4 Completed
    .card.bg-light
      - if @completed.any?
        - @completed.each do |application|
          = render application
      - else
        .card-body
          %p.card-text No applications.
