%h1 Listing jobs

%table
  %thead
    %tr
      %th Position
      %th Posted
      %th

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.position
        %td= job.created_at
        %td= link_to 'Show', applicant_job_path(job)
