.card.m-3.full-card-link
  %a{ href: job_path(job) }
  .card-body
    .row
      .col-md-3
        = image_tag job.business.logo, class: 'img', style: 'width: 100%' if job.business.logo.attached?
      .col-md-9.flex-col
        %h5.my-0= job.position
        %p.my-0= job.business.name
        %p.my-0.text-muted= job.created_at.strftime('%d/%m/%Y')
