.card
  .card-header Job
  .card-body
    %h5.card-title #{job.position} at #{job.business.name}
    %table.card-text
      %tr
        %th Position:
        %td= job.position
      %tr
        %th Description:
        %td= job.description
