%h1 Job Listings

.row.my-4
  .col-md-3
    - if business_signed_in?
      = link_to 'Post New Job', new_job_path, class: 'btn btn-primary mb-4 btn-block'
    .card
      .card-header Your Filters
      .card-body
        = smart_listing_controls_for :jobs do
          = text_field_tag :position, '', class: 'form-control', placeholder: 'Search...', autocomplete: :off
          %button.btn.btn-primary.btn-block{ type: 'submit' } Search
  .col-md-9
    .card.bg-light
      = smart_listing_render(:jobs)
