%h1 Job Listings

.row.my-4
  .col-md-3
    - if business_signed_in?
      = link_to 'Post New Job', new_job_path, class: 'btn btn-primary mb-4 btn-block'
    .card
      .card-header Your Filters
      .card-body
        .card.mb-4
          .card-header City
          .card-body London
        .card.my-4
          .card-header Job Title
          .card-body Programmer
        .card.mt-4
          .card-header Company Size
          .card-body Medium
  .col-md-9
    = render partial: 'jobs/job_item', collection: @jobs, as: :job
