.text-center.m-5#testimonials
  %h2 Testimonials
  .row.mt-4
    .col-md-4
      .card
        .card-header.mb-3
          %strong Hans Morgan
          %br
          2nd Year Computing Student
        .image-cropper.align-self-center
          = image_tag 'student.jpg'
        .card-body
          .card-text I just finished my second year at Imperial College London and HireFlow has been a fantastic tool to help me stay organised in this hectic application season!
    .col-md-4
      .card
        .card-header.mb-3
          %strong Stephen Cotter
          %br
          CEO of a new Startup
        .image-cropper.align-self-center
          = image_tag 'startup.jpg'
        .card-body
          .card-text My application process used to be a mess... I would store all of my information in an Excel file and always forget to update it - thanks to HireFlow I no longer have to worry about that!
    .col-md-4
      .card
        .card-header.mb-3
          %strong Sarah Leslie
          %br
          Computer Science Graduate
        .image-cropper.align-self-center
          = image_tag 'student-2.jpg'
        .card-body
          .card-text I'm so happy that I found HireFlow last year - it helped me follow my passions and work for a company where I can make a big impact. I can't recommend using this platform enough!
