.navbar-logo {
  height: 2rem;
  margin-right: 0.75rem;
}

.navbar-brand-text {
  font-family: $headings-font-family;
  font-weight: bold;
  vertical-align: middle;
}

.navbar {
  z-index: 1000;
  background-color: rgba(33, 37, 41, 0.9);
}
