.full-card-link  {
  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
  }
  a:hover {
    background-color: rgba(211, 211, 211, 0.1);
  }
}

#jobs {
  .content {
    .pagination-per-page {
      color: white;
      padding-bottom: 1%;
    }
  }
}

#who {
  .row {
    .col-md-3 {
      h5 {
        color: #1DB777;
      }
    }
  }
}

#where {
  .card-body {
    iframe {
      border: 1px solid lightgrey;
      border-radius: 2%;
    }
  }
}

#description {
  height: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
  padding-left: 3%;
}
