%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %a.navbar-brand{ href: root_path }
    = image_tag 'shards.svg', class: 'navbar-logo'
    HireFlow
  %button.navbar-toggler{ 'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button' }
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbar
    .navbar-nav
      - if applicant_controller?
        %a.nav-item.nav-link{ href: '#' } Edit Profile
      - elsif business_controller?
        %a.nav-item.nav-link{ href: business_edit_profile_path } Edit Business
        %a.nav-item.nav-link{ href: business_jobs_path } Jobs
      - else
        - if applicant_signed_in?
          %a.nav-item.nav-link{ href: applicant_root_path } Applicant Portal
        - if business_signed_in?
          %a.nav-item.nav-link{ href: business_root_path } Business Portal
        %a.nav-item.nav-link{ href: sign_up_path } Sign Up
    .navbar-nav.ml-auto
      - if applicant_controller?
        = link_to 'Sign Out', destroy_applicant_session_path, method: :delete, class: 'nav-item nav-link'
      - elsif business_controller?
        = link_to 'Sign Out', destroy_business_session_path, method: :delete, class: 'nav-item nav-link'
      - else
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle#navbar-sign-up-menu-link{ 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#' }
            Sign In
          .dropdown-menu{ 'aria-labelledby' => 'sign-up-menu-link.nav-link' }
            - unless applicant_signed_in?
              %a.dropdown-item{ href: new_applicant_session_path } Applicant Sign In
            - unless business_signed_in?
              %a.dropdown-item{ href: new_business_session_path } Business Sign In
