%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %a.navbar-brand{ href: root_path }
    = image_tag 'shards.svg', class: 'navbar-logo'
    HireFlow
  %button.navbar-toggler{ 'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button' }
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbar
    .navbar-nav
      .navbar-nav.ml-auto
